@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap");

/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Overpass" sans-serif;
  box-sizing: border-box;
}
body {
  --light-red: #ff525d;
  --very-light-red: #ff7a85;
  --very-dark-blue: #1f3f5b;
  --docwidth: 90%;
  --Very-dark-desaturated-blue: #3f4164;
}
img,
input {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
/* Header */
/* Header */
/* Header */
/* Header */
/* Header */
header {
  height: 60vh;
  background-image: url(/images/Header.jpg);
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 82px;
  -webkit-border-radius: 0px 0px 0px 82px;
  -moz-border-radius: 0px 0px 0px 82px;
}
h1 {
  width: var(--docwidth); /*calc(var(--docwidth)-10%)*/
  text-align: center;
  font-weight: 600;
  margin: auto;
}
header p {
  width: var(--docwidth);
  margin: auto;
  padding: 2rem 0;
  text-align: center;
}
.btn {
  border-radius: 45px;
  border: #fff solid 0.05rem;
  background: #ffffff00;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  font-weight: 600;
}
.btn-active {
  border-radius: 45px;
  border: #fff solid 0.05rem;
  background: #ffffff;
  color: var(--light-red);
  font-family: "Ubuntu", sans-serif;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  font-weight: 600;
}
/* #btn-center{
    display: flex;
    justify-content: center;
} */
h1 ~ div {
  display: flex;
  justify-content: center;
}
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ Main SECTIONS+++++++++++++++++++++++++++++++ */
main {
  /* Attention un width en vw (exemple: width: 100vw; ne tient pas compte du box-sizing:border-box;*/
  width: 100%;
  overflow: hidden;
}
#design,
#design-bis {
  text-align: center;
  width: var(--docwidth);
  margin: auto;
}
#design h2,
#design-bis h2 {
  padding: 3rem 0;
}
#design h3,
#design-bis h3 {
  padding: 2rem;
}
#design p,
#design-bis p {
  line-height: 1.5rem;
}
#design-bis div {
  margin-top: 5rem;
}
#design-bis img {
  transform: scale(140%);
}
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ SECTIONS SOTA +++++++++++++++++++++++++++++++ */
#sota {
  color: white;
  text-align: center;
  /* CTRL + F2 permet de selectionner toutes les occurencesd'une même selection */
  position: relative;
  border-radius: 0px 82px 0px 82px;
  -webkit-border-radius: 0px 82px 0px 82px;
  -moz-border-radius: 0px 82px 0px 82px;
  background-color: var(--Very-dark-desaturated-blue);
  background-image: url(../img/bg-pattern-circles.svg);
  background-position: 50% 50%;
  background-size: 343%;
  background-repeat: no-repeat;
  margin-top: 17rem;
}
#sota div {
  position: absolute;
  top: -40%;
}
#sota h2 {
  width: var(--docwidth);
  margin: auto;
  padding-top: 13rem;
}
#sota p {
  width: var(--docwidth);
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 6rem;
}
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ FOOTER  +++++++++++++++++++++++++++++++ */
footer {
  background-color: var(--Very-dark-desaturated-blue);
  border-radius: 0px 82px 0px 0px;
  -webkit-border-radius: 0px 82px 0px 0px;
  -moz-border-radius: 0px 82px 0px 0px;
}
#menu-footer {
  width: var(--docwidth);
  margin: auto;
  padding: 3rem;
  color: white;
  text-align: center;
  margin-top: 6rem;
}
#logo-footer {
  padding: 20%;
}
#menu-footer ul {
  list-style-type: none;
  font-weight: 900;
  padding: 1rem;
  font-family: "Ubuntu", serif;
}
#menu-footer li {
  font-weight: 100;
  padding: 0.2rem;
}

/* ++++++++++++++++++++++++++++ BP576P +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ BP576P +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ BP576P +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ BP576P +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ BP576P +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++ BP576P +++++++++++++++++++++++++++++++ */

@media screen and (min-width: 576px) {
  body {
    --docwidth: 75%;
  }
  header {
    height: 60vh;
    background-image: url(/assets/img/bg-pattern-intro-desktop.svg);
    background-position: 35% 37%;
    background-size: 100%;
  }
  #innerdesign {
    display: flex;
  }
  #innerdesign div {
    width: 50%;
  }
  #innerdesign img {
    content: url(/assets/img/illustration-editor-desktop.svg);
    width: 170%;
    transform: translateY(-15%);
  }
  #sota {
    margin-top: 0;
    display: flex;
    height: 40vh;
  }
  #sota div,
  #sota article {
    position: static;
    width: 50%;
  }