/*!!!!!!!!!! Reset !!!!!!!!!!*/
/*!!!!!!!!!! Reset !!!!!!!!!!*/
/*!!!!!!!!!! Reset !!!!!!!!!!*/
/*!!!!!!!!!! Reset !!!!!!!!!!*/
/*!!!!!!!!!! Reset !!!!!!!!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --docwidth: 90%;
}

img,
input {
  width: 100%;
}


/*!!!!!!!!!! Header !!!!!!!!!!*/
/*!!!!!!!!!! Header !!!!!!!!!!*/
/*!!!!!!!!!! Header !!!!!!!!!!*/
/*!!!!!!!!!! Header !!!!!!!!!!*/
/*!!!!!!!!!! Header !!!!!!!!!!*/
header {
  height: 50vh;
  background-image: url(/images/Header.jpg);
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

#menu #logo {
  width: 50%;
  backdrop-filter: blur(2px);
  border-radius: 50px;
}

h1 {
  width: var(--docwidth);
  text-align: center;
  font-weight: 600;
  margin: auto;
  color: white;
  /* backdrop-filter: blur(2px); */
}

header p {
  width: var(--docwidth);
  margin: auto;
  padding: 2rem 0;
  text-align: center;
  color: white;
  /* backdrop-filter: blur(2px); */
}

.btn {
  border-radius: 45px;
  border: #fff solid 0.05rem;
  background: #ffffff00;
  color: white;

  padding: 0.6rem 1rem;
  margin: 0.5rem;
  font-weight: 600;
}

.btn-active {
  border-radius: 45px;
  border: #fff solid 0.05rem;
  background: #F5F5DC;

  padding: 0.6rem 1rem;
  margin: 0.5rem;
  font-weight: 600;
  color: black;
}

@media screen and (min-width: 576px) {
  body {
    --docwidth: 75%;
  }
}